* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  font-family: PingFang SC, Helvetica Neue, Helvetica, Arial, Hiragino Sans GB,
    Microsoft Yahei, 微软雅黑, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
  font-size: 12px;
}

a {
  font-size: 12px;
  font-style: normal;
  text-decoration: none;
  color: $dark-blue;
  transition: all 0.15s ease-out;
  cursor: pointer;
  &:hover {
    color: $orange;
  }
}

li {
  list-style-type: none;
}

p,
small {
  font-size: 12px;
}
.el-card {
  border-radius: 10px;
  border: 1px solid #d8dde4;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: $dark-blue;
  color: #fff;
}
.el-pagination.is-background .el-pager li.active {
  color: #fff;
  cursor: default;
}
.el-pagination.is-background .el-pager li:hover {
  color: $dark-blue;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: $dark-blue;
}
.el-pagination.is-background .el-pager li:not(.disabled).active:hover {
  background-color: $dark-blue;
  color: #fff;
}
.el-col-lg-4-8 {
  width: 20%;
}
